.showPageContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.textContainer {
  margin-bottom: 25px;
}

.yelp-recs {
  margin: 0 auto;
  border: 1px solid black;
  width: 90%;
}

.yelp-result {
  display: flex;
  height:200px;
  width: 100%;
  margin-bottom: 10px;
  border: 1px solid black;
  border-radius: 5px;
}

.image-container {
  height: 100%;
  width: 55px;
}
.yelp-text-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5px 20px;
}

.image-container img {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.yelpContainer {
  display: flex;
  flex-direction: row;
  flex: 1;
  flex-basis: 100%;
  flex-direction: row;
  flex-wrap: wrap;
}

.yelp-separator1 {
  flex-basis: 49%;
  min-height: 200px;
  /* border: 1px solid black; */
}
.yelp-separator2 {
  flex-basis: 49%;
  min-height: 200px;
  /* border: 1px solid black; */
}

.clearBtn {
  position: absolute;
  left: 60%;
  top: 6.8%;
  padding: 10px;
  background-color: rgba(129, 222, 205, 0.927);
  border-radius: 50px;
  color: #333;
}
.clearBtn:hover {
  cursor: pointer;
}