@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lobster&family=Space+Mono:wght@400;700&display=swap');

.welcomePageContainer {
  display: flex;
  justify-content: space-between;
  flex: 1;
  gap: 25px;
}

.image-container {
  min-height: 1000px;
  flex-basis: 70%;
  border-radius: 10px;
  overflow: hidden;
}

.hero-image {
  object-fit: cover;
}

.text-container {
  font-family: 'Inter';
  /* border: 1px solid black; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 350px;
  flex-basis: 30%;
  display: flex;
  padding: 25px;
}

.h1 {
  font-family: 'Inter';
  font-size: 64px;
  font-weight: 700;
  margin-bottom: 84px;
}

.navbar {
  font-family: 'Inter';
  font-size: 22px;
  font-weight: 700;
}





/*

.welcomePageContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.hero-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  height: 350px;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(https://images.unsplash.com/photo-1621911414461-88bc315889d5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1632&q=80);
  background-size: cover;
  background-repeat: no-repeat;
}

.usp-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.usp-box h3 {
  margin: 5px 0;
} */
